[Unit]
Description=Apache Kafka broker
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
{% if jmx -%}
Environment=JMX_PORT=9999
{%- endif %}
Environment=JAVA_HOME={{java_home}}
ExecStart=/usr/lib/kafka/bin/kafka-server-start.sh /usr/lib/kafka/config/server.properties
ExecStop=/usr/lib/kafka/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target